<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <WebPublishMethod>ZipDeploy</WebPublishMethod>
        <PublishProvider>AzureWebSite</PublishProvider>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish>https://fixedassets__af.azurewebsites.net</SiteUrlToLaunchAfterPublish>
        <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
        <PublishUrl>https://fixedassets__af.scm.azurewebsites.net/</PublishUrl>
        <UserName>$fixedassets__af</UserName>
        <Password>wNlBfjx2u2xlcWJEiy61H14w5LZxJCna4tfWFGxoD0sqljTECG2qxLcPQQhm</Password>
        <_Application>fixedassets__af</_Application>
    </PropertyGroup>
    <ItemGroup>
        <DestinationConnectionStrings Include="FixedAssetsDBConnection">
            <Value>Data Source=fixedassets-server.database.windows.net,1433;Initial Catalog=fixedassets-database;User ID=fixedassets-server-admin;Password=Ns$N$y6FNihf4xw1</Value>
        </DestinationConnectionStrings>
    </ItemGroup>
</Project>